.modal {
  position: absolute;
  background-color: rgb(0 0 0 / 30%);
  color: rgb(95, 255, 47);
  font-family: "system-ui";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-content {
  background-color: rgb(0 0 0 / 50%);
  padding: 20px;
}
.modal .modal-content h1.valid {
    color: rgb(95, 255, 47);
}
.modal .modal-content h1.failed {
    color: red;
}